.a10{
padding-top: 15px;
text-align:center;
/* 1 */
border-radius: 50%;

border: 00.1px solid #3B4773E5;
background:#3B4773E5;
font-size: 24px;
text-decoration: ;
   color: white;
   /* Ellipse 7 */


position: absolute;
width: 53.76px;
height: 50.86px;
left: 48.61px;
top: 392.6px;

background: rgba(59, 71, 115, 0.9);
}

