.a10{
/* 3 */


position: absolute;
width: 27px;
height: 55px;
left: 767.7px;
top: 420.4px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 47.2306px;
line-height: 55px;

color: #FFFFFF;
}

